arabic-reshaper==3.0.0
asgiref==3.6.0
asn1crypto==1.5.1
backports.zoneinfo==0.2.1
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
cryptography==40.0.2
cssselect2==0.7.0
diff-match-patch==20230430
Django==4.1.4
django-crispy-forms==1.14.0
django-filter==22.1
django-import-export==3.1.0
html5lib==1.1
idna==3.4
lxml==4.9.2
numpy==1.24.3
opencv-python==4.7.0.72
oscrypto==1.3.0
pdfkit==1.0.0
Pillow==9.5.0
pycparser==2.21
pyHanko==0.18.1
pyhanko-certvalidator==0.22.0
pypdf==3.8.1
pypng==0.20220715.0
python-bidi==0.4.2
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
qrcode==7.4.2
reportlab==3.6.13
requests==2.29.0
shortuuid==1.0.11
six==1.16.0
sqlparse==0.4.3
svglib==1.5.1
tablib==3.3.0
tinycss2==1.2.1
typing-extensions==4.5.0
tzdata==2022.7
tzlocal==4.3
uritools==4.0.1
urllib3==1.26.15
webencodings==0.5.1
xhtml2pdf==0.2.9
